/* General styling for siden */
body {
    font-family: Arial, sans-serif;
    background-color: #eef2ff;
    color: #222;
    margin: 0;
    padding: 20px;
}

/* Toggle button styling */
.toggle-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 14px;
    color: #ffffff;
    background-color: #789922;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: white;
    color: #789922;
}

/* Containers for selve tråden af post */
.thread {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Post containeren */
.post {
    background-color: #d6daf0;
    border: 1px solid #BFBFBF;
    padding: 15px;
    margin-bottom: 30px;
}

/* Original post styling */
.post.original {
    width: 100%;
    margin: 0 0 30px 0;
}

/* Styling for selve post headeren (brugernavn, dato, etc.) */
.post-header {
    display: flex;
    align-items: center;
    gap: 15px; /* giver mellemrum mellem billede og titel */
}

.post-header img {
    max-width: 100%; /* Dette sikre at billedet ikke bliver større end selve containere */
    height: auto;
    width: 200px;
}

/* Post titlen */
.post-title {
    font-size: 13px;
    font-weight: bold;
}

/* Brugernavn */
.poster {
    color: #789922;
    font-style: italic;
}

/* Inholdet (teksten) i posten */
.post-content {
    padding: 10px 0;
}

/* link farven */
.post-content a {
    color: #0044BB;
    text-decoration: none;
}

.post-content a:hover {
    text-decoration: underline;
}

/* Kommentar felterne */
.replies {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Individuelle svar, hver svar i sin egen boks */
.reply {
    background-color: #d6daf0;
    border: 1px solid #CCCCCC;
    padding: 10px;
    max-width: 70%; /* Den højeste længde en boks kan have */
    min-width: 40%; /* Den mindste længde en boks kan have */
    margin-left: 10px; /* Rykker kommentaren en smule til højre, så de står lidt forskudt fra hovedposten */
    word-wrap: break-word; /* Sikre at lange tekster ikke går ud over boksen*/
}

/* Qoutes de kommentere fra hovedposten er røde*/
.quote {
    color: #D00;
}


.reply-text {
    font-weight: bold;
    color: #F60;
}


.reply .poster {
    color: #789922;
}
